@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

@media only screen and (min-width: 280px) { 
            body {
                background-color: #F8F5EE;
            }

            ul{
                font-size: 25%;
                margin-left: -10%;
            }

            .login {
                width: 5px;
            }

            .aDoLogin{
                margin-top: -6px;
            }

            .logo {
                width: 15px;
            }

            .headerFundo{
            width: 90%;
            height: 30px;
            }

             /* ..... */
             .footerFundo{
            width: 80%;
            height: 80px;
            font-size: 4px;
            border-radius: 15px;
            }

             .logoFooter{
                width: 50px;
            }

            .letra{
                font-size: 5px;
            }

            .logoRedes{
                width: 10px;
            }

            .links{
                width: 60%;
                height: 40px;
            }

              /* pay
             */
             .botao{
                border: 1px solid #d2c6aeff;
                width: 50px;
                height: 18px;
                font-size: 5px;
            }
    
            p{
                font-size: 4px;
                width: 290%;
            }

            .texto{
                padding-right: 33%;
            }
    
            input{
            width: 85%;
            height: 15px;
            font-size: 4px;
            }

        }       

        @media only screen and (min-width: 320px) { 
            body {
                background-color: #F8F5EE;
            }

            ul{
                font-size: 45%;
                margin-left: -9%;
            }

            .login {
                width: 8px;
                margin-top: -4px;
            }

            .aDoLogin{
                margin-top: -4px;
            }

            .logo {
                width: 20px;
            }

            .headerFundo{
            width: 85%;
            height: 40px;
            }

            /* ..... */
            .footerFundo{
            width: 70%;
            height: 80px;
            font-size: 4px;
            border-radius: 15px;
            }

             .logoFooter{
                width: 50px;
            }

            .letra{
                font-size: 5px;
            }

            .logoRedes{
                width: 10px;
            }

            .links{
                width: 60%;
                height: 40px;
            }

            /* pay
             */
             .botao{
                border: 1px solid #d2c6aeff;
                width: 50px;
                height: 18px;
                font-size: 5px;
            }
    
            p{
                font-size: 5px;
                width: 280%;
            }

            .texto{
                padding-right: 33%;
            }
    
            input{
            width: 85%;
            height: 15px;
            font-size: 4px;
            }

        }       

        @media only screen and (min-width: 600px){
            body {
                background-color: #F8F5EE;
            }

            ul{
                font-size: 60%;
                margin-left: -8%;
            }

            .login {
                width: 10px;
            }

            .aDoLogin{
                margin-top: -3px;
            }


            .logo {
                width: 25px;
            }

            .headerFundo{
            width: 70%;
            height: 50px;
            }

             /* ..... */
             .footerFundo{
            width: 65%;
            height: 140px;
            font-size: 8px;
            border-radius: 30px;
            }

             .logoFooter{
                width: 110px;
            }

            .letra{
                font-size: 9px;
            }

            .logoRedes{
                width: 18px;
            }

            .links{
                width: 50%;
                height: 60px;
            }

            /* pay
             */
             .botao{
                border: 2.5px solid #d2c6aeff;
                width: 90px;
                height: 35px;
                font-size: 10px;
            }
    
            p{
                font-size: 10px;
                width: 175%;
            }

            .texto{
                padding-right: 27%;
            }
    
            input{
            width: 70%;
            height: 30px;
            font-size: 8px;
            }

        }

        @media only screen and (min-width: 786px){
            body {
                background-color: #F8F5EE;
            }

            ul{
                font-size: 80%;
                margin-left: -5%;
            }

            .login {
                width: 15px;
            }

            .aDoLogin{
                margin-top: 1vh;
            }


            .logo {
                width: 35px;
            }

            .headerFundo{
            width: 80%;
            height: 60px;
            }

            /* ..... */
            .footerFundo{
            width: 70%;
            height: 180px;
            font-size: 10px;
            border-radius: 40px;
            }

             .logoFooter{
                width: 130px;
            }

            .letra{
                font-size: 12px;
            }

            .logoRedes{
                width: 22px;
            }

            .links{
                width: 50%;
                height: 80px;
            }

            /* pay
             */
             .botao{
                border: 3px solid #d2c6aeff;
                width: 100px;
                height: 40px;
                font-size: 12px;
            }
    
            p{
                font-size: 12px;
                width: 125%;
            }

            .texto{
                padding-right: 20%;
            }
    
            input{
            width: 75%;
            height: 40px;
            font-size: 10px;
            }

        }

        @media only screen and (min-width: 922px){
            body {
                background-color: #F8F5EE
            }

            ul{
                font-size: 90%;
                margin-left: -4%;
            }

            .login {
                width: 18px;
            }
            

            .logo{
                width: 40px; 
            }

            .headerFundo{
            width: 80%;
            height: 70px;
            }

             /* ..... */
             .footerFundo{
            width: 70%;
            height: 200px;
            font-size: 12px;
            border-radius: 40px;
            }

             .logoFooter{
                width: 150px;
            }

            .letra{
                font-size: 15px;
            }

            .logoRedes{
                width: 28px;
            }

            .links{
                width: 50%;
                height: 80px;
            }

            /* pay
             */
             .botao{
                border: 3.5px solid #d2c6aeff;
                width: 130px;
                height: 50px;
                font-size: 15px;
            }
    
            p{
                font-size: 14px;
                 width: 115%;
             }
    
            input{
            width: 75%;
            height: 40px;
            font-size: 11px;
            }
        }

        @media only screen and (min-width: 1200px){
            body {
                background-color: #F8F5EE
            }

            ul{
                font-size: 100%;
                margin-left: -3%;
            }

            .login {
                width: 20px;
            }

            .logo{
                width: 50px; 
            }

            .headerFundo{
            width: 80%;
            height: 70px;
            }

            /* ..... */
            .footerFundo{
            width: 70%;
            height: 250px;
            font-size: 15px;
            border-radius: 40px;
        }
            .logoFooter{
                width: 180px;
            }

            .letra{
                font-size: 17px;
            }

            .logoRedes{
                width: 30px;
            }

            .links{
                width: 50%;
                height: 80px;
            }

            /* pay
             */
             .botao{
                border: 4px solid #d2c6aeff;
                width: 150px;
                height: 50px;
                font-size: 16px;
            }
    
            p{
               font-size: 17px;
                width: 110%;
            }
    
            input{
            width: 80%;
            height: 50px;
            font-size: 12px;
            }
        }



    /* padroes começam aqui!!!!!!!!!!!!!!!!!!!!! */
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body::-webkit-scrollbar {
        width: 8px;
        height: 3px; 
    }
      
    body::-webkit-scrollbar-track {
        background: #f3eee3ff;
        padding: 2px;
    }
      
    body::-webkit-scrollbar-thumb {
        background-color: #d2c6aeff;
    }

    a:hover{
        transform: scale(1.05);
    }

    li:hover{
        transform: scale(1.05);
    }

    button:hover{
        transform: scale(1.05);
    }
    
    
    a:hover{
        transform: scale(1.05);
    }

    li:hover{
        transform: scale(1.05);
    }

    button:hover{
        transform: scale(1.05);
    }



        body{
            /* background-color: #F8F5EE; */
        }
        header{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            font-family: 'Fredoka', sans-serif;
            font-weight: 600;
        }

        .headerFundo{
            background-color: #f3eee3;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .headerFundo > ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10%;
            width: 80%;
        }
     
        .headerFundo > ul > li > a{
            text-decoration: none;
            color: rgb(44, 44, 44);
        }


        /* footer */

        footer{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            font-family: 'Arimo', sans-serif;
            font-weight: 700;
        }

        .footerFundo{
            background-color: #f3eee3ff;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .links{
            display: flex;
            align-items: start;
            justify-content: space-around;
        }

        .links > div {
            list-style: none;
            gap: 50px;
        }

        .links > div > li > a {
            text-decoration: none;
            color: rgb(44, 44, 44);
        }

        .contatos{
            flex-direction: column;
            align-items: start;
            justify-content: start;
            margin-top: 0;
        }

        .contatos > div {
            list-style: none;
            flex-direction: column;
            align-items: end;
            justify-content: end;
        }

        .contatos > div > li > a{
            text-decoration: none;
            color: rgb(44, 44, 44);
        }

        .letra{
            font-family: 'Fredoka', sans-serif;
            font-weight: 600;
        }

        .links > div > li {
            margin-bottom: 3px;
        }

        .contatos > div > li {
            margin-bottom: 3px;
        }

        .redes {
            margin-top: 50%;
        }

        body{
            margin: 0;
            padding: 0;
        }
    
        span{
            font-weight: 700;
        }
    
        input{
            background-color: #f3eee3ff;
            border: none;
            border-radius: 40px;
            padding-left: 5%;
            font-family: 'Arimo';
            font-weight: 700;
            margin-left: -2%;
            
        }

