@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;700&family=Fredoka:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    color: rgb(32, 32, 32);
}

body {
    background-color: rgb(248, 245, 238);
}

.container {
    display: flex;
    min-height: 100vh;
    padding: 3vh;
}

/* MENU LATERAL */

.menuLateral {
    display: flex;
    justify-content: center;
    max-width: 115px;
    width: 100%;
    padding: 3vh 2vw 0vh 2vw;
}

.menuLateral .alinharIcone {
    display: flex;
    justify-content: center;
}

#logoHorizontal {
    width: 60px;
    margin-top: 2vh;
    margin-bottom: 7vh;
}

#icon {
    width: 25px;
}

#iconDash {
    width: 40px;
}

.dash {
    background-color: rgba(158, 124, 96, 0.074);
}

.hover {
    /* background-color: rgb(137, 123, 111); */
    border-radius: 10vh;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-bottom: 1vh;
    transition: background ease-out .3s;
}

.hover:hover {
    background-color: rgba(158, 124, 96, 0.047);
    /* border-radius: 10vh;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    margin-bottom: 3vh; */
}

#iconLogout {
    width: 30px;
    /* margin-top: 20vh; */
}

.logout{
    margin-top: 10vh !important;
}

#icon,#iconLogout:hover {
    cursor: pointer;
}

/* DASHBOARDS */

.painel {
    display: flex;
    width: 75%;
    padding: 3vh 7vh;
    background-color: rgb(255, 253, 248);
    border-radius: 5vh;
    align-items: center;
    justify-content: center;
}

.painel2 {
    display: block;
    width: 20%;
    padding: 3vh 4vh;
    background-color: rgb(255, 253, 248);
    border-radius: 5vh;
    margin-left: 5vh;
    margin-right: 2vh;
}

/* DASHBOARDS - HEADER: TÍTULO, SELEÇÕES, USUÁRIO */

.painel .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.painel .header .titulo {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5vh;
}

.dadosCadastrados{
    font-size: 2vh; 
    font-weight: 700; 
    color: #2e2d2d;
    font-family: "Arimo";
}

